[net]
# Testing
batch=1
subdivisions=1
# Training
# batch=64
# subdivisions=8
height=32
width=32
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.001
burn_in=1000
max_batches = 500200
policy=steps
steps=400000,450000
scales=.1,.1


[conv]

[double-conv]
layers=-1,-2


[double-conv]

[double-conv]

[double-conv]

[double-conv]

[double-conv-with-stride]

[double-conv]





object_scale=5
noobject_scale=1
class_scale=1
coord_scale=1

absolute=1
thresh = .6
random=1
